#titleDiv
{
font-size: 20px;
}

#albumDiv
{
background-image: url("springsteen-background-retina-lowres.png");
width: 810px;
height: 810px;
}

#songNameDiv
{
top: 340px;
font-size: 36px;
}

#bruceNameDiv
{
font-size: 75px;
}

#button
{
font-size: 48px;
}
