#titleDiv
{
font-size: 12px;
display: none;
}

#albumDiv
{
background-image: url("springsteen-background-retina-landscape.png");
width: 405px;
height: 405px;
}

#songNameDiv
{
top: 170px;
font-size: 18px;
}

#bruceNameDiv
{
font-size: 38px;
}

#buttonDiv
{
margin-top: 10px;
}

#button
{
font-size: 24px;
}
